@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: #ffbbab;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background: whitesmoke;
}

/* N A V I G A T I O N */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
 
.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.logo {
  color: white;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* V I D E O    B A C K G R O U N D */


.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff; 
   
 }
 
 
 .container {
     max-width: 960px;
     padding-left: 1rem;
     padding-right: 1rem;
     margin: auto;
     text-align: center;
 }
 
 .fullscreen-video-wrap {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }
 
 .fullscreen-video-wrap video {
     min-width: 100%;
     min-height: 100%;
 }
 
 .header-overlay {
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1; 
   background: #8963f1;
   opacity: 0.85;
 }
 
 .header-content {
     z-index: 2;
     padding-top: 4em;
 }
 
 .header-content h1 {
   font-size: 40px;
   margin-bottom: .50em;
   padding-top: 0;
}
 
 .header-content p {
    font-size: 1.2rem;
    display: block;
    padding-bottom: 2rem;
    line-height: 1.7em;
}
 
 .btn {
    background: #ffbbab;
    color: #8963f1;
    font-size: 1.2rem;
    padding: .80rem 3rem;
    text-decoration: none; 
    border-radius: 25px;
    
}

 .btn:hover {
    background: #8963f1;
    cursor: pointer;
    color: #ffbbab;
    
 }

 .search-box {
     justify-content: center;
     align-items: center;
     display: flex;
     color: #fff;
     margin-top: 4em;
}

 .search-box h5 {
     margin-bottom:25px;
     font-size: 1.5rem;
     letter-spacing: 1px;
     text-align: center;
    
 }

 .search-field {
     height: 50px;
     padding: 10px;
     border: none;
     border-radius: 25px;
     outline: none;
 }

 .business {
     width: 400px;
 }

 .location {
     width: 200px;
 }

.search-btn {
    height: 50px;
    width: 150px;
    background: #ffbbab;
    border: none;
    color: #8963f1;
    border-radius: 25px;
} 

.search-btn:hover {
    background: #8963f1;;
    cursor: pointer;
    color: #ffbbab;
}

.form-box {
    background: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 25px;
}

/* FEATURED PLACES */



.featured-places {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*max-width: 100%;
    height: auto; */
    
}

.img {
   display: block;
   width: 100%;
   object-fit: fixed;
   margin-bottom: 2em;
}

/* S E C T I O N - 1*/

.main-header h1 {
    text-align: center;
    font-size: 1.7em;
    color: grey;
    font-family: 'ralaway'sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}


.main-header span {
    color: #8963f1;
}


.section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8em 2em; 
    height: 100%;
    color: grey;
    border-top: 0.2px solid grey;
    margin: 1em;
    padding-top: 3em;
    font-family: 'ralaway'sans-serif;
    line-height: 1.8em;
    margin-bottom: 4em;
}

.section1-img-1 {
    background-image: url("../img/aral-02.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 30px 150px;
    width: 100%;
    height: 600px;
    z-index: 10;
    margin-top: .5em
}

.section1-img-2 {
    background-image: url("../img/aral-01.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 30px 150px;
    width: 100%;
    height: 500px;
    z-index: 10;
    margin-top: -20em;
}

h4 {
   color: #8963f1;
   
}
.section3-text-1 a {
   text-decoration: none;
   color: #8963f1;
}


.section1-icon-st {
    letter-spacing: 6em;
    padding: 2em 3em;
    margin-top: 1em;
    border-top: 0.1px solid grey;
    display: flex;
    
 }

  .section1-icon-st a {
      color: grey;
      text-decoration: none;
  }
 

/* S E C T I O N - 2 */


  .mid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 100%;
    grid-gap: .8em 2em;
    color: white;
    margin-top: 4em;
    margin: 1em;
    border-top: 0.1px solid grey;
    
 }

 .section-2-img1 {
    background-image: url("../img/badak_lake_8.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 6em 2em;
    width: 100%;
    height: 500px;
    z-index: 10;
    margin-bottom: 2em;
    
}
.section-2-img1::before {
    content: '';
    display: block;
    background: #8963f1;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

.section-2-img1:hover::before {
    opacity: 0.2;
  }

  .section-2-img2 {
    background-image: url("../img/charvak-01.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 6em 2em;
    width: 100%;
    height: 500px;
    z-index: 10;
    margin-bottom: 2em;
}

.section-2-img2::before {
    content: '';
    display: block;
    background: #8963f1;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

.section-2-img2:hover::before {
    opacity: 0.2;
  }

  .mid-section a {
      text-decoration: none;
      color: #ffbbab;
  }

  /* S E C T I O N - 3 */
  
 .section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8em 2em; 
    height: 100%;
    color: grey;
    border-top: 0.2px solid grey;
    margin: 1em;
    padding-top: 3em;
    font-family: 'ralaway'sans-serif;
    line-height: 1.8em;
    margin-bottom: 4em;
}

.section3-img-1 {
    background-image: url("../img/img-6.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 30px 150px;
    width: 100%;
    height: 600px;
    z-index: 10;
    margin-top: .5em
}

.section3-img-2 {
    background-image: url("../img/khiva-03.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 30px 150px;
    width: 100%;
    height: 500px;
    z-index: 10;
    margin-top: -20em;
}

.section1-text-1 a {
    text-decoration: none;
    color: #8963f1;
}

/* S E C T I O N - 4 */

.last-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5em;
    border-top: 0.1px solid grey;
    padding-top: 4em;
    height: 800px;
}

.last-section a {
    text-decoration: none;
}

.last-section-text {
    color: grey;
    text-align: center;
}




 /* F O O T E R */


  .footer-grid-1 {
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  .footer-box1 {
    background-color: #8963f1;
    padding: 1em;
    color: #ffffff;
  }
  .footer-box2 {
    background-color: grey;
    padding: 1em;
    color: #000000;
  }

  .msg-box {
      background: grey;
      padding: 2em;
      margin-bottom: .5em;
      text-align: center;
      color: grey;
  }

  .msg-box h3{
   color: white;
   padding-top: 1em
  }
   .msg-box p {
       background: #ffffff;
       padding: .7em;
       text-align: left;
       font-size: .5em;
  }

.p-3 {
     padding:4em;
     height: 70px;
     margin-bottom: 2em;
}

.submit {
    background: #ffbbab;
    color: #8963f1;
    font-size: .5rem;
    padding: .80rem 3rem;
    text-decoration: none; 
}




  










/* M O B I L E */

@media screen and (min-width: 500px) {
    
    .btn {
        font-size: 1rem;
        padding: .60rem 1.5rem;
    }
    .business {
        width: 180px;
        height: 40px;
    }
   
    .location {
        width: 120px;
        height: 40px;
    }
    .search-btn {
        height: 40px;
        width: 90px;
    }
    .form-box {
        padding: 20px;
        border-radius: 25px;
    }

    .search-box h5 {
        margin-bottom:18px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: center;
    }

    .featured-places {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0;
    }
    
    .featured-places img {
        margin-bottom: 0;
        width: 100%;
    }

    
    .header h3 {
        padding-top: 0;
    }

    .mid-section {
        display: grid;
        grid-template-columns: 1fr; 
       
    }

   
}




@media screen and (min-width: 750px){
    .last-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

}
}



/* D E S K T O P */


@media screen and (min-width: 960px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    .nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: black;
        display: block;
        background: white;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    .featured-places {
        display: grid;
        grid-template-columns: repeat(4, 1fr)
    }


    .search-field {
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 25px;
        outline: none;
    }
   
    .business {
        width: 300px;
    }
   
    .location {
        width: 200px;
    }
   
   .search-btn {
       height: 50px;
       width: 150px;
       background: #ffbbab;
       border: none;
       color: #8963f1;
       border-radius: 25px;
   } 

   .btn {
    font-size: 1.2rem;
    padding: .80rem 3rem;
   }

   .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8em 2em; 
  
}

.mid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 100%;
    grid-gap: .8em 2em;
    color: white;
    margin-top: 4em;
    margin: 1em;
    border-top: 0.1px solid grey;
}

.msg-box {
    background: grey;
    padding: 2em;
    margin-bottom: .5em;
    text-align: center;
    color: grey;
}

.msg-box h3{
 color: white;
 padding-top: 1em
}
 .msg-box p {
     background: #ffffff;
     padding: .7em;
     text-align: left;
     font-size: .5em;
}

.p-3 {
   padding:4em;
   height: 70px;
   margin-bottom: 2em;
}

.last-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}
}




/*@media (max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
